.score-entree {
  display: grid;
  grid-template-columns: 7rem repeat(5,10rem);
  place-items: center;
  gap: .5rem;
}

.score-entree__name {
  text-transform: uppercase;
  justify-self: end;
  margin-right: 1rem;
}

.score-entree__point {
  width: 10rem;
  border: 1px solid white;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}
.score-entree__point.lit {
  background-color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
}
.score-entree__point.lit.winner {
  background-color: yellow;
  border-color: yellow;
  -webkit-box-shadow:0px 0px 96px 14px rgba(255,255,0,1);
  -moz-box-shadow: 0px 0px 96px 14px rgba(255,255,0,1);
  box-shadow: 0px 0px 96px 14px rgba(255,255,0,1);
  z-index: 99;
}