.drift__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.drift__edit-display {
  display: grid;
  grid-template-columns: 15rem 5rem 15rem;
  gap: 1rem;
}

.drift__people-list {
  aspect-ratio: 1/2;
  width: 15rem;
  border: 2px solid #ffff00;
  padding: .5rem;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.drift__person {
  width: 95%;
  background-color: grey;
  margin: 0 auto;
  padding: .5rem 1rem;
  border-radius: 8px;
  margin-bottom: .5rem;
  cursor: pointer;
  border: 2px solid transparent;
}
.drift__person:hover {
  border-color: white;
}
.drift__person.selected {
  background-color: #6f00ff;
  background-color: green;
}

.drift__edit-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}

.drift__new-god--wrapper {
  height: 4rem;
  width: 100%;
  text-align: center;
  z-index: 99;
}
.drift__new-god {
  margin: 0;
  text-transform: uppercase;
  z-index: 99;
}

.drift__control-buttons-wrapper {
  display: flex;
  gap: .5rem;
}

/* .drift__score-display {
} */